name: Actions after commit
run-name: Running appropriate tests after committing changes
on: push
jobs:
  test_and_run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pip install -r requirements.txt
      - run: python -m pytest test_biotsavart.py
      - run: python biotsavart.py
      - run: python -m pytest test_fourier.py
      - run: python plot_modes.py
